<div class="glass-card chart-container">
  <div class="chart-header">
    <h3>Portfolio Performance</h3>
    <div class="time-filters">
      <button class="active">1M</button>
      <button>3M</button>
      <button>ALL</button>
    </div>
  </div>

  <div id="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [stroke]="chartOptions.stroke!"
      [dataLabels]="chartOptions.dataLabels!"
      [yaxis]="chartOptions.yaxis!"
      [fill]="chartOptions.fill!"
      [tooltip]="chartOptions.tooltip!"
      [colors]="chartOptions.colors!"
    ></apx-chart>
  </div>
</div>
